.usersbar-container {
  display: flex;
  flex-flow: column;
  padding: 0 0.4rem;
  margin: 0.2rem 0rem 0.2rem 0;
}
.all-users-container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.19);
}
.usersbar-title {
  font-size: 1.2rem;
}
.all-users {
  flex: 1 1 0.1px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.users-item {
  margin: 0;
  list-style: none;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--bg);
  border-radius: 5em;
  box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.08) inset;
}
.user-item:hover {
  cursor: pointer;
  background: var(--sec);
}

.room-users-item {
  cursor: initial;
}
.room-users-container {
  /* border-top: 1px solid black; */
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.19);
}
.usersbar-title {
  padding: 0.2rem 0.4rem;
  flex: 0 1;
}
.room-users {
  flex: 1 1 0.1px;
  padding: 0 0.3rem 0 0;
  margin: 0;
  overflow-y: scroll;
}
.all-users::-webkit-scrollbar,
.room-users::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.all-users::-webkit-scrollbar,
.room-users::-webkit-scrollbar-track {
  display: none;
}

.all-users::-webkit-scrollbar,
.room-users::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
