.chat-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  border-right: 1px solid black;
  padding: 0 0.4rem;
  margin-right: 0.4rem;
}
.chat-container .row {
}
.chat-container .row.chat-title {
  flex: 0 1 auto;
  margin: 0;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid black;
}
.chat-container .row.messages-container {
  flex: 1 1 0.1px;
  margin: 0;
  padding: 0 0.3rem 0 0;
  overflow-y: scroll;
}

.messages-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.messages-container::-webkit-scrollbar-track {
  display: none;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
.message-item {
  list-style: none;
  align-items: right;
}
.my-message {
  text-align: right;
}
.received-message {
}
.author-name {
  font-size: 0.75rem;
}
.author-message {
  display: inline-block;
  /* margin: 0; */
  padding: 0.3rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
.chat-container .row.form-container {
  flex: 0 1 auto;
}
.form-container {
  margin: 0.6rem 0.4rem;
  display: flex;
}
.input-message {
  outline: none;
  border: 1px solid black;
  padding: 0.2rem 0.4rem;
  margin-right: 0.2rem;
  border-radius: 4px;
  flex: 1 0 auto;
  font-size: 1rem;
  font-family: "Itim", cursive;
}
.send-btn {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  font-size: 0.875rem;
  font-family: "Itim", cursive;
}
