.chat-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.chat-title {
  flex: 0 1 auto;
}
.messages-container {
  flex: 1 1 auto;
  padding: 0;
  overflow-y: scroll;
}
.message-item {
  list-style: none;
  align-items: right;
}
.my-message {
  text-align: right;
}
.received-message {
}
.author-name {
  font-size: 0.75rem;
}
.author-message {
  display: inline-block;
  /* margin: 0; */
  padding: 0.3rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
.form-container {
  flex: 0 1 40px;
}
.input-message {
}
.send-btn {
}
