.left-sidebar-container {
  margin: 0.4rem 0.2rem 0 0.4rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}
.form-container {
  flex: 0 1 auto;
}
.form {
}
.form-input {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-family: "Itim", cursive;
  padding: 0.2rem 0.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.form-btn {
  width: 100%;
  padding: 0.2rem 0.2rem;
  font-family: "Itim", cursive;
  font-size: 1rem;
  border: 1px solid black;
}
.title {
  flex: 0 1 auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0 0 0.4rem;
}
.rooms-container {
  margin: 0;
  padding: 0 0.3rem 0 0;
  flex: 1 1 0.1px;
  overflow-y: scroll;
}

.rooms-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.rooms-container::-webkit-scrollbar-track {
  display: none;
}

.rooms-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
.room-item {
  list-style: none;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 0.875rem;
  border: 1px solid black;
  border-radius: 6px;
}
