.left-sidebar-container {
  width: 25vw;
  min-width: 150px;
  margin: 0.4rem 0.6rem 0 0.4rem;
  padding: 0.2rem 0.8rem 0 0.2rem;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}
form-container {
}
.form {
}
.form-input {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-family: "Itim", cursive;
  padding: 0.2rem 0.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.form-btn {
  width: 100%;
  padding: 0.2rem 0.2rem;
  font-family: "Itim", cursive;
  font-size: 1rem;
  border: 1px solid black;
}
.rooms-container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-y: scroll;
}
.room-item {
  list-style: none;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 0.875rem;
  border: 1px solid black;
  border-radius: 6px;
}
