.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.spinner {
  color: var(--bg);
  height: 30px;
  width: 30px;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
