.container {
  width: 100%;
  max-width: 20rem;
  margin: 1rem auto;
}
.page-title {
  text-align: center;
  font-size: 1.2rem;
}
.signin-form-container {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.6rem 2rem 2rem 2rem;
  margin-bottom: 1rem;
}
.input-container {
  margin-bottom: 1rem;
}
.input-label {
  display: block;
  color: gray;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.text-input {
  font-family: "Itim", cursive;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: gray;
  font-weight: 700;
  line-height: 1.25;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.error-msg {
  color: red;
  font-style: italic;
  font-weight: 500;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.signin-btn {
  font-family: "Itim", cursive;
  border: none;
  outline: none;
  background-color: rgba(59, 130, 246);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.signin-btn:hover {
  background-color: rgba(29, 78, 216);
}
